<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" >
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map'%}" >
<link rel="stylesheet" href="{% static 'css/profile.css'%}" >
<link rel="stylesheet" href="{% static 'css/fontawesome-free-6.4.0-web/css/all.css'%}">
<link rel="stylesheet" href="{% static 'css/boxicons/boxicons-master/css/boxicons.min.css'%}" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="sidebar opened">
    <div class="logo-details">
      <i class='bx bxl-tooth'></i>
      <span class="logo_name">Dental Clinic</span>
    </div>
    <ul class="nav-links">
  
  
      <li>
        <a href="dashboard.html">
          <i class='bx bxs-dashboard'></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="dashboard.html">Dashboard</a></li>
        </ul>
      </li>
  
  
          <li>
            <a href="appointments.html">
              <i class='bx bx-calendar-event'></i>
              <span class="link_name">Appointments</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="appointments.html">Appointments</a></li>
            </ul>
          </li>
  
  

      <li>
        <a href="patient.html">
          <i class='bx bx-list-ul'></i>
          <span class="link_name">Patient List</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="patient.html">Patient List</a></li>
        </ul>
      </li>
  
  
      <li>
        <a href="assistants.html">
          <i class='bx bx-group'></i>
          <span class="link_name">Assisstants</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="assistants.html">Assisstants</a></li>
        </ul>
      </li>
  
      
  
      <li>
        <a href="profile.html">
          <i class='bx bx-user'></i>
          <span class="link_name">Profile</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="profile.html">Profile</a></li>
        </ul>
      </li>
  
  
      <li>
        <div class="profile-details">
          <div class="name-job">
            <div class="profile_name"><span class="link_name" style="margin-left: 30px;">Doctor</span></div>
          </div>
          <a href= {% url "login" %}>
            <i class="bx bx-log-out"></i>
          </a>
        </div>
      </li>
    </ul>
  </div>

<form id="myForm">

  <label for="doctor-name">Name:</label>
  <input type="text" id="doctor-name" name="name" value="omar eyad" required disabled>

  <label for="doctor-age">Age:</label>
  <input type="number" id="doctor-age" name="age"  value="20" required>

  <label for="doctor-mobile">Mobile:</label>
  <input type="tel" id="doctor-mobile" name="mobile"  value="01187654321" required >

  <label for="doctor-gender">Gender:</label>
  <select id="doctor-gender" name="gender"  disabled>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>

  <label for="doctor-address">Address:</label>
  <textarea id="doctor-address" name="address" rows="4" cols="40"  required >cairo</textarea>


  <br>
  <div class="form-row">
    <label for="doctor-hours-start">Working Hours:</label>
    <input type="time" id="doctor-hours-start" name="hours" min="0" max="24" >
    <span>to</span>
    <input type="time" id="doctor-hours-end" name="hours" min="0" max="24">
    <br>

    <input type="time" id="doctor-hours-start2" name="hours" min="0" max="24" >
      <span>to</span>
      <input type="time" id="doctor-hours-end2" name="hours" min="0" max="24" >
    </div>
  </div>

  <label for="doctor-id">E-mail:</label>
  <input type="text" id="doctor-id" name="id"  value="omar@gmail.com" required >



  <button type="submit" id="toggleButton">Save</button>
</form>

</body>
<script src="{% static 'js/profile.js' %}"></script>
</html>